@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500;700&display=swap");

:root {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	font-family: "Kaisei Opti", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.container {
	max-width: 1240px;
	margin: auto;
}

.btn {
	color: #fff;
	padding: 12px 24px;
	background-image: linear-gradient(45deg, #080d10 0%, #e21506 100%);
	border: none;
	border-radius: 8px;
	font-size: 14px;
	transition: 0.4s;
	cursor: pointer;
}

.btn:active {
	transform: translate(4px);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	border-bottom: none;
}
